#=========================================
# STM32CubeIDE Build Artifacts (하위 폴더 대응)
#=========================================
**/Debug/
**/Release/
**/bin/
**/obj/

*.elf
*.bin
*.hex
*.map
*.list
*.o
*.d
*.su

#=========================================
# STM32CubeMX / Hardware Configuration
#=========================================
**/[Pp]rog_backup/
*.bak

#=========================================
# User-Specific / Local Settings
#=========================================
**/.settings/language.settings.xml
**/.settings/org.eclipse.cdt.codan.core.prefs

#=========================================
# Operating System Garbage
#=========================================
.DS_Store
Thumbs.db